version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    hostname: prometheus
    restart: always
    ports:
      - '9090:9090'
    volumes:
      - /etc/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - prometheus

networks:
  prometheus:


